body {
    background-color: #E8F9FD;
}
hr {
    border-color: grey;
    border-top-width: 7px;
    border-style: none;
    border-top-style: dotted;
    height: 0px;
    width: 5%;
}
h1 {
    color: #66BFBF ;
}
h3 {
    color: #66BFBF;
}